In [17]:
import numpy as np

In [18]:
x = [7,5,5,1,5,7,1,2,4,8,3,2,2,6,2,3,3,6,3,2,2,3,1,5,2,3,3,2,1,3,2,2,2,2,2,2,2]

# 1.均值

In [21]:
np.mean(x)

3.135135135135135

# 2.中位数

In [22]:
np.median(x)

2.0

# 3.众数

# 3.1 用numpy.bincount函数计算

bincount返回数组值从0到最大值，各个值出现的个数。

要得到众数，直接找到返回数组里最大值，其索引值就是众数值(索引从0开始)

bincount只能统计非负整数的个数，不能统计浮点数

In [24]:
np.bincount(x)

array([ 0,  4, 15,  8,  1,  4,  2,  2,  1], dtype=int64)

In [23]:
#bincount（）：统计非负整数的个数，不能统计浮点数
counts = np.bincount(x)
#返回众数
np.argmax(counts)

2

# 3.2 求众数方法二——直接利用scipy下stats模块【推荐】

可以用于浮点数

In [27]:
from scipy import stats
stats.mode(x)[0][0]

2

# 3.3 Python pandas.DataFrame.mode函数方法

https://www.cjavapy.com/article/608/

In [38]:
import pandas as pd
y = np.array([1,1,1,1,4,3,3,1,3,2,1,2,3,3,2,1,3,3,3,1,2,3,3,3,2,3,3,4,3,3,3,2,5,3,3,3,4,3,4,7,3,2,3])
ser = pd.Series(y)
ser.mode()

0    3
dtype: int32

In [37]:
np.bincount(y)

array([ 0,  8,  7, 22,  4,  1,  0,  1], dtype=int64)

In [48]:
nums = np.random.randint(1,10, size=20).reshape(4,5)
df = pd.DataFrame(nums)
df

   0  1  2  3  4
0  5  3  6  2  3
1  5  9  2  2  3
2  4  7  6  3  2
3  2  7  2  5  7

In [49]:
df.mode()

     0    1  2    3    4
0  5.0  7.0  2  2.0  3.0
1  NaN  NaN  6  NaN  NaN

In [50]:
np.median(y)

3.0